.footer {
    background-color: #7a1a1e;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Footer 1*/
.footer1 {
    width: 40%;
    height: 230px;
    background-color: #510608;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer1 img {
    width: auto;
    height: 130px;
}

.ftext>h3 {
    color: #FFE184;
    font-weight: 100;
    font-size: 20px;
}

/* Footer 2 */
.footer2 {
    width: 70%;
}

.footer2>p {
    color: #FFE184;
    font-weight: 100;
    font-size: 16px;
}

.flinks {
    color: #FFE184;
    padding: 5px 5px;
    font-size: 18px;
}

.flinks:hover {
    color: #b8901b;
}

.footerSocial {
    list-style: none;
    padding: 0;
}

.footerSocial li {
    display: inline-block;
}

.footerSocial li .flinks {
    text-decoration: none;
    color: #FFE184;
    font-size: 20px;
    padding: 5px 18px;
}

.footerSocial li .flinks:hover {
    color: #752225;
    font-weight: 500;
}

/* Footer 3 */
.footer3 {
    width: 70%;
    padding: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footer3>h2 {
    color: #FFE184;
    margin: 0;
    text-decoration: underline;
    font-size: 20px;
}

.footerLinks {
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
}

.footerLinks li {
    display: table;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footerLinks li .flinks {
    text-decoration: none;
    color: #FFE184;
    font-size: 18px;
    font-weight: 100;
    padding: 5px 0px;
}

.footerLinks li .flinks:hover {
    color: #b8901b;
    font-weight: 500;
    font-size: 20px;
}

.footer-light {
    display: flex;
    width: 100%;
}


/* Footer Diagonal */
.footer-diagonal {
    background-image: url('../images/footer-diagonal.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 230px;
}

@media screen and (max-width: 960px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-diagonal {
        display: none;
    }

    .footer1 {
        height: 140px;
        width: 100%;
    }

    .footer1 img {
        width: auto;
        height: 90px;
        margin: 0;
    }

    .footer-light {
        padding: 0px 100px;
    }

}

@media screen and (max-width: 620px) {
    .ftext>h3 {
        font-size: 13px;
    }

    .footer3>h2 {
        font-size: 15px;
    }

    .footerLinks li .flinks {
        font-size: 13px;
    }

    .footer2>p {
        font-size: 13px;
    }

    .flinks {
        font-size: 15px;
    }

    .footer-light {
        padding: 30px;
    }
}